.inputfile {
	width: 5%;
	height: 5%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    border: 1px;
}

.inputfile + label {
    background-color:#98c7a2;
	border-radius:15px;
	border:1px solid #4e7252;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-left: 17.5%;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color:#67a174;
	border-radius:15px;
	border:1px solid #46774b;
}

.inputfile + label {
	cursor: pointer;
}

.upload {
	background-color:rgb(89, 189, 111);
	border-radius:15px;
	border:1px solid #4e7252;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-left: 15%;
}
.upload:hover {
	background-color:#3a975e;
	border:1px solid #4e7252;
}

.title {
	margin-left: 36%;
}

.naslov {
	margin-left: 45%
}

.content {
word-break: break-all;
margin: 7%;
}