.table-hover tbody tr:hover {
  background-color: #e6ffe3;
}

.dugme {
  margin-left: 8%;
}

.documentProcessing {
  margin-top: 4%;
  margin-left: -10%;
}

.documentAttachemntTable {
  margin-top: 5%;
  margin-left: 13%;
}
