.button {
  position: center;
  cursor: pointer;
  border-width: initial;
  color: #f7e92c;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding-bottom: 0px;
  padding-top: 0px;
}

.button:hover {
  color: rgb(58, 100, 58);
}

.Badge:hover  {
  background-color: black;
  color: silver
}
