.button {
  cursor: pointer;
  border-width: initial;
  color: #16719b;
  border-style: none;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
  border-width: initial;
  background-color: rgb(255, 255, 255);
}

.button:hover {
  color: #10465f;
  background-color: rgb(230, 228, 228);
}

.delete {
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
  border-width: initial;
  color: rgb(226, 28, 28);
  background-color: white;
}

.delete:hover {
  color: rgb(138, 12, 12);
  background-color: rgb(230, 228, 228);
}
