.button {
  position: center;
  cursor: pointer;
  border-width: initial;
  color: #f7e92c;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: rgb(255, 255, 255);
}

.button:hover {
  color: rgb(58, 100, 58);
  background-color: rgb(230, 228, 228);
}

.badge:hover {
  background-color: rgb(138, 12, 12);
  color: silver;
}
