.isteklo {
    text-align: center;
    background-color: rgb(243, 140, 140);
}

.predIstek {
    text-align: center;
    background-color: rgb(250, 233, 82);
}

.uRoku {
    text-align: center;
    background-color: rgb(99, 185, 114);
}